

/**
013730	green
88432a	brown
e3c0b5	pink
*/


* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Nunito, Arial, Helvetica, sans-serif;
}

/**
 * color schemes
 */
body, body main {
    background: #e3c0b5;
    color: #88432a;
    & path {
        fill: #88432a;
    }
    & header, header a {
        color: #88432a;
    }
    & h2 {
        border-bottom: 1px solid #88432a;
    }
}

header, main h2 {
    font-family: "Work Sans", sans-serif;
}

header {
    padding-top: 2em;
    font-size: 1.5rem;
    & div {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
        margin-bottom: 2em;
    }
    & img#logo {
        width: 600px;
        margin: 2rem auto;
    }
    & ul {
        display: flex;
        list-style-type: none;
        gap: 1em;
    }
    & ul#socials svg {
        width: 40px;
        height: 40px;
    }
    & a {
        text-decoration: none;
    }
}

main, footer {
    margin: auto;
    font-size: 1.5rem;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    overflow: auto;
    & h1 {
        text-align: center;
        padding: 0.5em;
        margin: 2em 0 1em 0;
        border-radius: 10px;
    }
    & h1, h2 {
        font-weight: 300;
    }
    & h2 {
        margin: 2em 0 1em 0;
    }
    & img {
        width: 100%;
        border-radius: 15px;
    }
    & img#kel, img#kim {
        width: 300px;
        margin: 15px;
    }
    & p {
        margin: 1em 0;
    }
    & ul {
        padding: 0 0 0 2em;
        list-style-type: square;
    }
    & div.profile {
        padding: 1em 0;
    }
    & div#offerings {
        font-size: 1.5rem;
        padding-top: 2em;
        section {
            h3 {
                font-weight: normal;
                text-transform: uppercase;
                padding-bottom: 0.5em;
            }
            img {
                width: 180px;
                margin-bottom: 20px;
            }
        }
    }
    & img.service {
        float: right;
        width: 180px;
        margin: 0 0 1em 1em;
    }
}

footer {
    margin-top: 5em;
}

p.register {
    background-color: white;
    padding: 1em;
    box-shadow: 0 0 10px #555;
    margin: 2em auto 0 auto;
    text-align: center;
    border-radius: 15px;
    & a {
        text-decoration: none;
        color: #88432a;
        font-weight: 400;
    }
}